<div ng-controller="artistController" ng-init="init()">
    <div flex layout="row" class="myArtists">
        <!--Artist Feed-->
        <div flex layout="column" layout-align="center center" class="artistFeed" id="artistPage">
            <div flex layout="row" layout-align="center center" ng-show=newsfeed>
                <div class="artistHeader">
                    <div layout-wrap>
                        <br>
                        <!--<br><br><br><br><br><br>-->
                        <img src='{{artistPicture}}' class="artist-image" ng-cloak></img>
                        <br>
                        <h4 class="text-center">{{artistName}} 
                            <i class="fa fa-plus-circle fa-lg green add-button" ng-show="!alreadyTracking(artist)" ng-click="trackArtist(artist)"></i>
                            <i class="fa fa-minus-circle fa-lg red add-button" ng-show="alreadyTracking(artist)" ng-click="removeArtist(artist)"></i>
                        </h4>
                        <div ng-bind-html=iframe class="widget" style="display:block; margin: 0 auto; text-align:center;">
                        </div>
                    <!--<div ng-cloak class="text-center">
                        <h1>{{ artistName }}</h1>
                    </div>-->
                </div>
            </div>


           <!-- <div ng-bind-html=iframe>-->

            </div>

            <br>

            <p id="errormsg" style="visibility:hidden">
              This artist has no news.
            </p>

            <div flex="100">
                <div class="newsfeed" id="newsfeed">
                    <div ng-cloak="" class="tabsdemoDynamicHeight">
                        <md-content>
                            <md-tabs md-dynamic-height="" md-border-bottom="">
                                <md-tab label="News">
                                    <md-content class="md-padding">
                                        <h1 class="md-display-2">News</h1>
                                        <div ng-repeat="news in artistNews">
                                            <md-card flex-gt-sm="90" flex-gt-md="80">
                                                <md-card-content>
                                                    <md-list>
                                                        <md-item-content>
                                                            <h3><a target="_blank" href="{{news.url}}">{{news.name}} <i class="fa fa-external-link"></i></a></h3>
                                                            <p><i class="fa fa-calendar"></i> {{news.date_found}}</p>
                                                            <p>Summary: <blockquote>{{news.summary}}</blockquote></p>
                                                        </md-item-content>
                                                    </md-list>
                                                </md-card-content>
                                            </md-card>
                                        </div>
                                    </md-content>
                                </md-tab>
                                <md-tab label="Blog Posts">
                                    <md-content class="md-padding">
                                        <h1 class="md-display-2">Blog Posts</h1>
                                        <div ng-repeat="blog in artistBlogs">
                                          <md-card flex-gt-sm="90" flex-gt-md="80">
                                              <md-card-content>
                                                  <md-list>
                                                      <md-item-content>
                                                          <h3><a target="_blank" href="{{blog.url}}">{{blog.name}} <i class="fa fa-external-link"></i></a></h3>
                                                          <p>Date Posted: {{blog.date_posted}}</p>
                                                          <p>Summary: <blockquote>{{blog.summary}}</blockquote></p>
                                                          <md-divider hide-sm ng-if="!$last"></md-divider>
                                                          <md-divider hide-gt-sm ng-if="!$last"></md-divider>
                                                      </md-item-content>
                                                  </md-list> 
                                              </md-card-content>
                                          </md-card>
                                      </div>
                                    </md-content>
                                </md-tab>
                                <md-tab label="Reviews">
                                    <md-content class="md-padding">
                                        <div ng-repeat="review in artistReviews">
                                          <md-card flex-gt-sm="90" flex-gt-md="80">
                                              <md-card-content>
                                                  <md-list>
                                                      <md-item-content>
                                                          <h3><a target="_blank" href="{{review.url}}">{{review.name}} <i class="fa fa-external-link"></i></a></h3>
                                                          <p>Date Posted: {{review.date_found}}</p>
                                                          <p>Summary: <blockquote>{{review.summary}}</blockquote></p>
                                                          <md-divider hide-sm ng-if="!$last"></md-divider>
                                                          <md-divider hide-gt-sm ng-if="!$last"></md-divider>
                                                      </md-item-content>
                                                  </md-list> 
                                              </md-card-content>
                                          </md-card>
                                      </div>
                                    </md-content>
                                </md-tab>
                                <md-tab label="Play Artist">
                                        <div ng-bind-html=playButton>

                                        </div>
                                </md-tab>
                            </md-tabs>
                        </md-content>
                    </div>
                    <!-- <div ng-repeat="news in artistNews">
                        <md-card flex-gt-sm="90" flex-gt-md="80">
                            <md-card-content>
                                <md-list>
                                    <md-item-content>
                                        <p>Date Posted: {{news.date_found}}</p>
                                        <p>Article Name: <a target="_blank" href="{{news.url}}">{{news.name}}</a></p>
                                        <p>Summary: <blockquote>{{news.summary}}</blockquote></p>
                                        <md-divider hide-sm ng-if="!$last"></md-divider>
                                        <md-divider hide-gt-sm ng-if="!$last"></md-divider>
                                    </md-item-content>
                                </md-list>
                            </md-card-content>
                        </md-card>
                    </div> -->
                </div> <!-- end newsfeed -->

            </div> <!-- end flex -->
</div>

