
<div layout="column" ng-controller="ArtistController" class="artistsPage">
    <div flex layout="row" class="myArtists">
      <!--List of My Artists-->
      <div flex="20"> 
        <md-list>
        <md-list-item style="background-color:#d3d3d3;" layout="row" layout-align="center">
            <div flex="80" layout="row" layout-align="center"><h3>My Artists</h3></div>
            <div flex="20" layout="row" layout-align="end">
               <img ng-hide=editing src="https://cdn3.iconfinder.com/data/icons/glypho-free/64/pen-checkbox-128.png" style="height:25px;width:25px;" ng-click="edit()">
               <img ng-show=editing src="https://cdn4.iconfinder.com/data/icons/basic-ui-elements/700/011_yes-128.png" style="height:20px;width:20px;" ng-click="edit()">
            </div>
        </md-list-item>


          <md-list-item ng-repeat="artist in myArtists" ng-click="switchArtist(artist);" layout="row">
              <div flex="80" layout="row">
                <div class="md-list-item-text">
                  {{artist}}
                </div>
              </div>
             <div flex="20" layout="row" layout-align="end">
               <img src="http://www.clker.com/cliparts/a/x/q/L/G/9/delete-icon-md.png" style="height:15px;width:15px;opacity:0.8;" ng-click="deleteArtist($index)" ng-show=editing>
            </div>
          </md-list-item>
        </md-list>
      </div>

    <!--Artist Feed-->
      <div flex="80" layout="column" layout-align="center center" class="artistFeed">
        <div flex layout="row" layout-align="center center" ng-show=newsfeed>
          <div class="artistHeader">
            <div layout-wrap>
              <a href="{{}}" target="_blank"><img src='{{artistPicture}}' class="artist-image" ng-cloak></img></a>
            </div>
            <div ng-cloak class="text-center">
              <h1>{{ artistName }}</h1>
            </div>
          </div>
        </div>


        <div ng-bind-html=iframe>

        </div>

        <br>
      

    <div flex="100">
      <div class="newsfeed">
            <div ng-cloak="" class="tabsdemoDynamicHeight">
          <md-content>
            <md-tabs md-dynamic-height="" md-border-bottom="">
              <md-tab label="News">
                <md-content class="md-padding">
                  <h1 class="md-display-2">News</h1>
                    <div ng-repeat="news in artistNews">
                      <md-card flex-gt-sm="90" flex-gt-md="80">
                          <md-card-content>
                              <md-list>
                                  <md-item-content>
                                      <h3><a target="_blank" href="{{news.url}}">{{news.name}} <i class="fa fa-external-link"></i></a></h3>
                                      <p>Date Posted: {{news.date_found}}</p>
                                      <p>Summary: <blockquote>{{news.summary}}</blockquote></p>
                                      <md-divider hide-sm ng-if="!$last"></md-divider>
                                      <md-divider hide-gt-sm ng-if="!$last"></md-divider>
                                  </md-item-content>
                              </md-list>
                          </md-card-content>
                      </md-card>
                  </div>
                </md-content>
              </md-tab>
              <md-tab label="Blog Posts">
                <md-content class="md-padding">
                  <h1 class="md-display-2">Blog Posts</h1>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor, orci enim rutrum enim, vel tempor sapien arcu a tellus. Vivamus convallis sodales ante varius gravida. Curabitur a purus vel augue ultrices ultricies id a nisl. Nullam malesuada consequat diam, a facilisis tortor volutpat et. Sed urna dolor, aliquet vitae posuere vulputate, euismod ac lorem. Sed felis risus, pulvinar at interdum quis, vehicula sed odio. Phasellus in enim venenatis, iaculis tortor eu, bibendum ante. Donec ac tellus dictum neque volutpat blandit. Praesent efficitur faucibus risus, ac auctor purus porttitor vitae. Phasellus ornare dui nec orci posuere, nec luctus mauris semper.</p>
                  <p>Morbi viverra, ante vel aliquet tincidunt, leo dolor pharetra quam, at semper massa orci nec magna. Donec posuere nec sapien sed laoreet. Etiam cursus nunc in condimentum facilisis. Etiam in tempor tortor. Vivamus faucibus egestas enim, at convallis diam pulvinar vel. Cras ac orci eget nisi maximus cursus. Nunc urna libero, viverra sit amet nisl at, hendrerit tempor turpis. Maecenas facilisis convallis mi vel tempor. Nullam vitae nunc leo. Cras sed nisl consectetur, rhoncus sapien sit amet, tempus sapien.</p>
                  <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
                </md-content>
              </md-tab>
              <md-tab label="Reviews">
                <md-content class="md-padding">
                  <h1 class="md-display-2">Reviews</h1>
                  <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
                </md-content>
              </md-tab>
            </md-tabs>
          </md-content>
        </div>
            <!-- <div ng-repeat="news in artistNews">
                <md-card flex-gt-sm="90" flex-gt-md="80">
                    <md-card-content>
                        <md-list>
                            <md-item-content>
                                <p>Date Posted: {{news.date_found}}</p>
                                <p>Article Name: <a target="_blank" href="{{news.url}}">{{news.name}}</a></p>
                                <p>Summary: <blockquote>{{news.summary}}</blockquote></p>
                                <md-divider hide-sm ng-if="!$last"></md-divider>
                                <md-divider hide-gt-sm ng-if="!$last"></md-divider>
                            </md-item-content>
                        </md-list>
                    </md-card-content>
                </md-card>
            </div> -->
        </div> <!-- end newsfeed -->

      </div> <!-- end flex -->
    </div>
  </div>
</div>
