
<div layout="column" ng-controller="ArtistController" class="artistsPage">
    <div flex layout="row" class="myArtists">
      <!--List of My Artists-->
      <flex="20">
        <md-list>
        <md-list-item style="background-color:#d3d3d3;border-radius:2px; width: 200px;" layout="row" layout-align="center">
            <div flex="80" layout="row" layout-align="center">My Artists</div>
            <div flex="20" layout="row" layout-align="end">
                <i class="fa fa-pencil pointer" ng-hide="editing"ng-click="edit()"></i>
                <i class="fa fa-check-circle pointer" ng-show="editing" ng-click="edit()"></i>
               <!--<img ng-hide=editing src="https://cdn3.iconfinder.com/data/icons/glypho-free/64/pen-checkbox-128.png" style="height:25px;width:25px;" ng-click="edit()">
               <img ng-show=editing src="https://cdn4.iconfinder.com/data/icons/basic-ui-elements/700/011_yes-128.png" style="height:20px;width:20px;" ng-click="edit()">-->
            </div>
        </md-list-item>


          <md-list-item style="background-color:#00d95a;border-radius:2px;" ng-repeat="artist in myArtists" ng-click="switchArtist(artist);" layout="row">
              <div flex="80" layout="row">
                <div class="md-list-item-text">
                  {{artist}}
                </div>
              </div>
             <div flex="20" layout="row" layout-align="end">
                 <i class="fa fa-trash-o pointer" ng-show="editing" ng-click="deleteArtist($index)"></i>
               <!--<img src="http://www.clker.com/cliparts/a/x/q/L/G/9/delete-icon-md.png" style="height:15px;width:15px;opacity:0.8;" ng-click="deleteArtist($index)" ng-show=editing>-->
            </div>
          </md-list-item>
        </md-list>
      </div>

    <!--Artist Feed-->
      <div flex="80" layout="column" layout-align="center center" class="artistFeed">
        <div flex layout="row" layout-align="center center" ng-show=newsfeed>
          <div class="artistHeader">
            <div layout-wrap>
              <a href="{{}}" target="_blank"><img src='{{artistPicture}}' class="artist-image" ng-cloak></img></a>
            </div>
            <div ng-cloak><h4>{{ artistName }}</h4></div>
          </div>
        </div>


        <div ng-bind-html=iframe>

        </div>

        <br>
      

    <div flex>
      <div class="newsfeed">
            <div ng-repeat="news in artistNews">
                <md-card flex-gt-sm="90" flex-gt-md="80">
                    <md-card-content>
                        <md-list>
                            <md-item-content>
                                <p>Date Posted: {{news.date_found}}</p>
                                <p>Article Name: <a target="_blank" href="{{news.url}}">{{news.name}}</a></p>
                                <p>Summary: <blockquote>{{news.summary}}</blockquote></p>
                                <md-divider hide-sm ng-if="!$last"></md-divider>
                                <md-divider hide-gt-sm ng-if="!$last"></md-divider>
                            </md-item-content>
                        </md-list>
                    </md-card-content>
                </md-card>
            </div>
        </div>

      </div>
    </div>
  </div>
</div>
