
<div>

  <div id="welcome">
    <h1 id="welcome-message">Welcome to the Spotify News App!</h1>
    <p>Explore album reviews, blog articles, and general news on all your favorite artists.</p>
  </div>

  <div id="search">
      <i class="fa fa-search"></i>
      <input id="search-bar" type="text"/>
  </div>


    <div layout="row" layout-padding class="bg-black" layout-align="space-between center">
      <div>
          <md-button>Home</md-button>
          <md-button>My Artists</md-button>
          <md-menu>
              <md-button md-menu-origin ng-click="$mdOpenMenu()">Help</md-button>
              <md-menu-content width="2">
                  <md-menu-item>
                      <md-button>Help</md-button>
                  </md-menu-item>
                  <md-menu-item>
                      <md-button>About</md-button>
                  </md-menu-item>
              </md-menu-content>
          </md-menu>
      </div>
      <!-- <div class="nav-buttons">
          <md-button class="md-raised md-accent">My profile</md-button>
          <md-button class="md-raised md-warn">Log Out</md-button>
      </div> -->
    </div>



    <div layout="column" class="search" flex-md>

      <md-content md-theme="default" layout-padding="" layout="row" layout-sm="column">
        <md-input-container>
          <label>Search by Artist</label>
          <input ng-model="form.artist">

          <md-button class="md-raised" ng-click='getReviews(form.artist)'> Go </md-button>
        </md-input-container>
        <!-- <md-input-container>
          <label>Email</label>
          <input ng-model="user.email" type="email">
        </md-input-container> -->
      </md-content>

      <md-button class="md-raised" ng-click='getBlogPosts(form.artist)'> blog posts </md-button>
      <md-button class="md-raised" ng-click='getNews(form.artist)'> news </md-button>

      {{form.artist}}

    </div>  

</div>