<div>
    <div id="welcome">
        <h1 id="welcome-message">Welcome to the Spotify News App!</h1>
        <p>Browse your favorite artists.</p>
    </div>

    <div layout="column" class="search" ng-controller="SearchController">
        <md-content md-theme="default" layout-padding="" layout="row" layout-sm="column">
            <md-input-container>
                <label>Search by Artist</label>
                <input ng-model="form.artist">
            </md-input-container>
        </md-content>

        <div class="artist-reviews">
            <div ng-repeat="review in reviews">
                <md-card flex-gt-sm="90" flex-gt-md="80">
                    <md-card-content>
                        <md-list>
                            <md-item-content>
                                <p>Date reviewed: {{review.date_reviewed || "No Date Found" }}</p>
                                <p>Review Name: <a target="_blank" href="{{review.url}}">{{review.name}}</a></p>
                                <p>Summary: <blockquote>{{review.summary}}</blockquote></p>
                                <md-divider hide-sm ng-if="!$last"></md-divider>
                                <md-divider hide-gt-sm ng-if="!$last"></md-divider>
                            </md-item-content>
                        </md-list>
                    </md-card-content>
                </md-card>
            </div>
        </div>

        <div class="blog-posts">
            <div ng-repeat="post in blogPosts">
                <md-card flex-gt-sm="90" flex-gt-md="80">
                    <md-card-content>
                        <md-list>
                            <md-item-content>
                                <p>Date Posted: {{post.date_posted}}</p>
                                <p>Blog Post Name: <a target="_blank" href="{{post.url}}">{{post.name}}</a></p>
                                <p>Summary: <blockquote>{{post.summary}}</blockquote></p>
                                <md-divider hide-sm ng-if="!$last"></md-divider>
                                <md-divider hide-gt-sm ng-if="!$last"></md-divider>
                            </md-item-content>
                        </md-list>
                    </md-card-content>
                </md-card>
            </div>
        </div>

        <div class="artist-news">
            <div ng-repeat="news_item in news">
                <md-card flex-gt-sm="90" flex-gt-md="80">
                    <md-card-content>
                        <md-list>
                            <md-item-content>
                                <p>Date Posted: {{news_item.date_posted}}</p>
                                <p>News Article Title:  <a target="_blank" href="{{news_item.url}}">{{news_item.name}}</a></p>
                                <p>Summary: <blockquote>{{news_item.summary}}</blockquote></p>
                                <md-divider hide-sm ng-if="!$last"></md-divider>
                                <md-divider hide-gt-sm ng-if="!$last"></md-divider>
                            </md-item-content>
                        </md-list>
                    </md-card-content>
                </md-card>
            </div>
        </div>

        <md-button class="md-raised" ng-click='getReviews(form.artist)'> See Artist Reviews </md-button>
        <md-button class="md-raised" ng-click='getBlogPosts(form.artist)'> Find Blog posts </md-button>
        <md-button class="md-raised" ng-click='getNews(form.artist)'> Read Artist News </md-button>
        <md-button class="md-raised" ng-click='getNewReleases()'> New Releases </md-button>
        {{form.artist}}
    </div>

</div>