<!DOCTYPE html>
<html lang="en" ng-app='spotifyApp'>
<head>
    <meta charset="UTF-8">
    <!-- Angular Material CSS now available via Google CDN; version 0.11.2 used here -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.2/angular-material.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <title>Spotify App</title>
</head>
<body ng-controller='ArtistController'>
    <!-- <div id="header">
        <i class="fa fa-spotify fa-lg"></i>
        <a class="header-tab" href="home.html">Home</a>
        <a class="header-tab" href="myArtists.html">My Artists</a>
    </div> -->


    <div layout="row" layout-padding class="bg-black" layout-align="space-between center">
      <div>
          <md-button>Home</md-button>
          <md-button>My Artists</md-button>
          <md-menu>
              <md-button md-menu-origin ng-click="$mdOpenMenu()">Help</md-button>
              <md-menu-content width="2">
                  <md-menu-item>
                      <md-button>Help</md-button>
                  </md-menu-item>
                  <md-menu-item>
                      <md-button>About</md-button>
                  </md-menu-item>
              </md-menu-content>
          </md-menu>
      </div>
      <!-- <div class="nav-buttons">
          <md-button class="md-raised md-accent">My profile</md-button>
          <md-button class="md-raised md-warn">Log Out</md-button>
      </div> -->
    </div>



    <div layout="row" class="myArtists">
      <!--List of My Artists-->
      <div flex="20"> 
      <md-list>
        <md-list-item ng-click="switchArtist('newsfeed')">
          Newsfeed
        </md-list-item>
        <md-list-item ng-repeat="artist in myArtists" ng-click="switchArtist(artist);">
            <div class="md-list-item-text">
            {{artist}}
          </div>
        </md-list-item>
      </md-list>
    </div>

    <!--Artist Feed-->
      <div flex="80" layout="column" layout-align="center center">
        <div ng-bind-html=iframe>

        </div>



        <!--<md-list>
          <md-list-item ng-repeat="song in songs|limitTo:5">
              <div class="md-list-item-text">
              {{song.id}}
            </div>
          </md-list-item>
        </md-list>-->
    </div>
      

    </div>  




  <!-- Angular Material Dependencies -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>


  <!-- Angular Material Javascript now available via Google CDN; version 0.11.2 used here -->
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.2/angular-material.min.js"></script>

  <script src="../scripts/main.js"></script>

</body>
</html>