@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);
.nav-buttons-mobile {
  display: none;
}
@media (max-width: 689px) {
  .nav-buttons {
    display: none;
  }
  .nav-buttons-mobile {
    display: block;
  }
  .navMenu {
    z-index: 1000;
    position: absolute;
    background: white;
    width: 140px;
  }
  .navMenu li {
    list-style-type: none;
    padding: .5em;
    border: 1px solid #eef;
  }
}
body {
  color: #00d95a;
  font-weight: 300;
}
.spotify-app {
  max-width: 860px;
  margin: 0 auto;
}
#header {
  width: 100%;
  position: absolute;
  background-color: #191414;
  left: 0;
  top: -30px;
  padding: 15px;
}
#logo {
  color: white;
}
.nav-buttons {
  margin-left: -7em;
}
@media (max-width: 835px) {
  .nav-buttons {
    margin-left: 0;
  }
}
.header-tab,
a.header-tab:visited {
  color: #00d95a;
  /*border-right: 1px solid #555;*/
  text-decoration: none;
  padding: 15px;
}
#welcome {
  width: 100%;
  left: 0;
  padding: 15px;
  text-align: center;
  margin-top: 30px;
}
#welcome-message {
  font-weight: 300;
}
#search-bar {
  border-radius: 4px;
  border: 1px solid #999;
  width: 250px;
  height: 20px;
  font-weight: 300;
  color: #999;
}
/* ARTISTS */
.artistFeed img {
  max-width: 400px;
}
.artistsPage {
  max-width: 765px;
  margin: 0 auto;
}
.bg-black {
  background: #000;
}
blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  line-height: 1.5em;
  quotes: "\201C" "\201D" "\2018" "\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote:after {
  color: #ccc;
  content: close-quote;
  font-size: 4em;
  line-height: 0.1em;
  padding-left: 0.1em;
  vertical-align: -0.5em;
}
blockquote p {
  display: inline;
}
.float-right {
  float: right;
  margin-right: 2px;
}
.main-feed {
  /*max-width: 785px;*/
  margin: 0 auto;
}
@media (max-width: 689px) {
  .main-feed {
    max-width: 600px;
    margin: 0 auto;
  }
}
@media (max-width: 460px) {
  .main-feed {
    max-width: 300px;
    margin: 0 auto;
  }
}
#search input {
  display: inline-block;
}
@media (max-width: 715px) {
  #search {
    margin: 0 auto;
  }
}
