#search-results {
    overflow: scroll;
    position: absolute;
    max-height: 128px;
    width: 250px;
    z-index: 2;
    margin-left: 20px;
    border-right: 1px solid #999;
    border-radius: 4px;
    border-left: 1px solid #999;
    border-bottom: 1px solid #999;
    box-shadow: 1px 2px 4px #999;
}

.green {
    color: #00d95a;
}

.add-button {
    margin-top: 5px;
    cursor: pointer;
}

.artist {
    border-bottom: 1px solid #999;
    padding: 10px;
}